@model TgpBugTracker.Models.Ticket

<style>
    dl {
        padding: 0.1em;
    }

    dt {
        float: left;
        clear: left;
        width: 30%;
        text-align: right;
        font-weight: bold;
        /*color: green;*/
    }

    /*dt:after {
            content: ":";
        }*/

    dd {
        margin: 0 0 0 110px;
        padding: 0 0 0.5em 0;
    }

    .dl-horizontal dt {
        /*width: 80px;*/
        width: 24%;
    }

    .dl-horizontal dd {
        /* margin-left: 90px;*/
        margin-left: 27%;
    }

    .table {
        table-layout: fixed;
    }

        .table tbody > tr > td {
            padding: 4px;
        }

    .modal-body input, textarea {
        width: 95%;
        max-width: none;
    }

    .mainTabs .maintTabs-nav li {
        width: 50%;
    }

    .container {
        margin-right: 2%;
        margin-left: 2%;
        max-width: 100%;
    }
</style>

<div class="container">
    <div class="col-md-4">
        <div id="mainTabs" style="">
            <ul>
                <li><a href="#mainTabs-1">Ticket Detail</a></li>
                <li><a href="#mainTabs-2">Ticket Edit</a></li>
            </ul>

            <!-- DISPLAY TICKET -->
            <div id="mainTabs-1">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ProjectId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Project.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IssueTypeId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IssueType.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PriorityId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Priority.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StageId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Stage.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd width="inherit" style="font-weight:bold">
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AuthorId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Author.DisplayName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LeaderId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Leader.DisplayName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Deadline)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Deadline)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Attachment)
                    </dt>

                    @if (Model.Attachment != null)
                    {
                        <dt class="form-group col-md-8 col-md-offset-4">
                            <img src=@Url.Content(Model.Attachment) alt="Image for Ticket" class="img-responsive"
                                    style="max-width:90%; max-height:150px; 
                                    display: block; margin-left: auto; margin-right: auto">
                        </dt>
                    }

                    <dd>
                        <a href="@Model.Attachment" target="_blank">@Html.DisplayFor(model => model.Attachment)</a>
                    </dd>
                </dl>
            </div>

            <!--  EDIT TICKET -->
            <div id="mainTabs-2">


                @using (Html.BeginForm("Edit", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Date)
                        @Html.HiddenFor(model => model.AuthorId)
                        @Html.HiddenFor(model => model.Attachment)
                        @Html.HiddenFor(model => model.ProjectId)

                        <div class="form-group">
                            @Html.LabelFor(m => m.ProjectId, "Project", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8" style="padding: 8px 0 0 31px">
                                @Html.DisplayFor(model => model.Project.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.AuthorId, "Author", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8" style="padding: 8px 0 0 31px">
                                @Html.DisplayFor(model => model.Author.FullName)
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8" style="font-weight:bold">
                                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-sm-8">
                                @Html.TextAreaFor(m => m.Description, 5, 50, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Current Attachment", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <a href="@Model.Attachment" target="_blank">@Html.DisplayFor(model => model.Attachment)</a>
                            </div>
                        </div>

                        @if (Model.Attachment != null)
                        {
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <img src=@Url.Content(Model.Attachment) alt="Image for Ticket" class="img-responsive"
                                         style="max-width:90%; max-height:150px;
                                        display: block; margin-left: auto; margin-right: auto">
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            @Html.Label("New Attachment", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <input name="upLoadFile" type="file" class="form-control" id="fileUpload" value="@Model.Attachment" />
                                @Html.ValidationMessageFor(model => model.Attachment, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.IssueTypeId, "Type of Issue", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" style="padding-left:15px">
                                    @Html.DropDownList("IssueTypeId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.IssueTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.PriorityId, "Priority Level", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" style="padding-left:15px">
                                    @Html.DropDownList("PriorityId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.PriorityId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom:0; padding-top:5px">
                                @Html.LabelFor(m => m.StageId, "Ticket Stage", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" style="padding-left:15px">
                                    @Html.DropDownList("StageId", null, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(m => m.StageId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" style="margin-bottom:0; padding-top:5px">
                                @Html.LabelFor(m => m.LeaderId, "Tkt Leader", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" style="padding-left:15px">
                                    @Html.DropDownList("LeaderId", null, htmlAttributes: new { @class = "form-control" })

                                    @Html.ValidationMessageFor(m => m.LeaderId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row" style="padding:0px 5px;">
                                <div style="display:inline">
                                    <label for="date-picker-2" class="control-label col-md-4" style="display:inline; padding-top:10px">
                                        Deadline
                                    </label>
                                    <div class="controls col-md-8" style="padding:0px 15px">
                                        @if (Model.Deadline == null)
                                        {
                                            <input class="datepicker" data-date-format="yyyy/MM/dd" name="Deadline" style="padding:8px 12px; border:1px"
                                                   value="@System.DateTime.Now.ToString("yyyy/MM/dd")">
                                        }
                                        else
                                        {
                                            <input class="datepicker" data-date-format="yyyy/MM/dd" name="Deadline" style="padding:8px 12px; border:1px"
                                                   value="@Model.Deadline.Value.ToString("yyyy/MM/dd")">
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.IssueTypeId)
                            @Html.HiddenFor(model => model.PriorityId)
                            @Html.HiddenFor(model => model.StageId)
                            @Html.HiddenFor(model => model.LeaderId)
                            @Html.HiddenFor(model => model.Deadline)
                        }

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="tabs" width="100%">
            <ul>
                <li><a href="#tabs-1">Comments</a></li>
                <li><a href="#tabs-2">Change Log</a></li>
            </ul>

            <!-- DISPLAY / EDIT COMMENTS -->
            <div id="tabs-1">

                @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="TicketId" value="@Model.Id" />
                <input type="hidden" name="AuthorId" value="@Model.AuthorId" />

                <div class="form-horizontal">
                    <h4>New Comment</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        <div class="col-md-2">
                            Title
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="Title" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            Details
                        </div>
                        <div class="col-md-10">
                            <textarea style="max-width:90%; width:90%" name="Detail" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            Media URL
                        </div>
                        <div class="col-md-10">
                            @*@Html.Editor("Attachment", new { htmlAttributes = new { @class = "form-control" } })*@
                            <input name="upLoadFile" type="file" class="form-control" id="fileUpload" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                    }

                <table class="table" style="table-layout:fixed">
                    <tr width="100%">
                        <th style="width:15%">
                            Actions
                        </th>
                        <th style="width:10%">
                            Date
                        </th>
                        <th style="width:20%">
                            Title
                        </th>
                        <th style="width:40%">
                            Details
                        </th>
                        <th style="width:15%; max-width:15%">
                            Media URL
                        </th>

                    </tr>
                    @if (Model != null)
                        {
                            foreach (var item in Model.Comments.OrderByDescending(c => c.Date))
                            {
                    <tr style="width:inherit">
                        <td style="width:15%">

                            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || ViewBag.UserId == item.AuthorId)
                            {
                            <a data-id="@item.Id" data-title="@item.Title" data-date="@item.Date"
                               data-detail="@item.Detail" data-media="@item.Attachment"
                               data-authorid="@item.AuthorId" data-ticketid="@item.TicketId"
                               class="btn btn-lg btn-skin xtra-btn del"
                               data-toggle="modal" title="Edit" data-target="#editCommentModal">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                            <text>|</text>
                            <button data-toggle="modal tooltip" title="Delete" data-id="@item" class="del fa fa-trash" data-target="#archiveModal"></button>
                            }
                        </td>
                        <td style="width:10%">
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td style="width:20%">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td style="width:40%">
                            @Html.DisplayFor(modelItem => item.Detail)

                        </td>
                        <td style="width:15%; word-wrap:break-word; max-width:15%">

                            <a href=@Html.DisplayFor(modelItem => item.Attachment) target="_blank">@Html.DisplayFor(modelItem => item.Attachment)</a>
                        </td>

                    </tr>
                            }
                        }

                </table>

            </div>

            <!-- DISPLAY LOG of Ticket Changes-->
            <div id="tabs-2">

                <table class="table" style="table-layout:fixed">
                    <tr width="100%">
                        <th style="width:15%">
                            Author
                        </th>
                        <th style="width:20%">
                            Date
                        </th>
                        <th style="width:15%">
                            Property
                        </th>
                        <th style="width:25%">
                            Old Value
                        </th>
                        <th style="width:25%">
                            New Value
                        </th>

                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model.Logs.OrderByDescending(c => c.Date))
                        {
                    <tr style="width:inherit">
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Property)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OldValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewValue)
                        </td>

                    </tr>
                        }
                    }

                </table>

            </div>

        </div>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

<!-- vvvvv Start of Modal vvvvv -->

<div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="align-content:center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" 
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="text-align:center; color:#ffd800"
                    id="myModalLabel">
                    Edit the Comment
                </h4>
            </div>

            @using (Html.BeginForm("Edit", "Comments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">

                        <div class="form-group">
                            <div class="col-md-2">
                                Title
                            </div>
                            <div class="col-md-10">
                                <input id="modal-title" name="Title" value="change Me" />

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                Details
                            </div>
                            <div class="col-md-10">
                                <textarea id="modal-detail" name="Detail" rows="2"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Current Attachment", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <span id="modal-media" name="Attachment" value="changeMe">No file chosen</span>
                            </div>

                            <div class="col-md-6">

                                <input name="upLoadFile" type="file" class="form-control" id="fileUpload" />
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer" style="align-content:center">

                    <button type="button" data-dismiss="modal" class="btn btn-skin xtra-btn">Dismiss</button>

                    <input type="hidden" id="modal-id" name="Id" value="" />
                    <input type="hidden" id="modal-authorId" name="AuthorId" value="change Me" />
                    <input type="hidden" id="modal-ticketId" name="TicketId" value="change Me" />
                    <input type="hidden" id="modal-date" name="Date" value="change Me" />

                    <button type="submit" class="btn btn-skin xtra-btn">Submit</button>
                </div>

            }
        </div>
    </div>
</div>
<!-- ^^^^^ Modal end ^^^^^ -->


@section scripts{
    <script>

        $(window).load(function () {
            $(function () {
                $("#mainTabs").tabs();
            });
            $(function () {
                $("#tabs").tabs();
            });
        });


        var commentId = 0;
        $('#editCommentModal').on('shown.bs.modal', function (e) {
            var i = $(e.relatedTarget).data('id');
            var t = $(e.relatedTarget).data('title');
            var d = $(e.relatedTarget).data('detail');
            var da = $(e.relatedTarget).data('date');
            var m = $(e.relatedTarget).data('media');
            var au = $(e.relatedTarget).data('authorid');
            var tk = $(e.relatedTarget).data('ticketid');

            console.log(' comment Item.Id: ' + i);
            console.log(' comment Item.AuthorId: ' + au);
            console.log(' comment Item.Title: ' + t);
            console.log(' comment Item.Date: ' + da);
            console.log(' comment Item.Detail: ' + d);
            console.log(' comment Item.Media: ' + m);
            console.log(' comment Item.Title: ' + tk);
            $('#modal-id').val(i);
            $('#modal-title').val(t);
            $('#modal-detail').val(d);
            $('#modal-date').val(da);
            $('#modal-media').val(m);
            $('#modal-authorId').val(au);
            $('#modal-ticketId').val(tk);
        });

    </script>
}
