@model TgpBugTracker.Models.Ticket

<style>
    dl {
        padding: 0.1em;
    }

    dt {
        float: left;
        clear: left;
        width: 30%;
        text-align: right;
        font-weight: bold;
        /*color: green;*/
    }

        dt:after {
            content: ":";
        }

    dd {
        margin: 0 0 0 110px;
        padding: 0 0 0.5em 0;
    }

    .dl-horizontal dt {
        /*width: 80px;*/
        width: 24%;
    }

    .dl-horizontal dd {
        /* margin-left: 90px;*/
        margin-left: 27%;
    }

    .table tbody > tr > td {
        padding: 4px;
    }

    .modal-body input, textarea {
        width: 95%;
        max-width: none;
    }
</style>

<div class="container">
    <div class="col-md-4">
        <div row>
            <h2>Ticket Detail</h2>

        </div>
    </div>
    <div class="col-md-8">
        <div row>
            <h2>Comments</h2>
        </div>
    </div>
</div>
<hr />
<div>
    <div class="container">
        <div class="col-md-4">
            <div row>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ProjectId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Project.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IssueTypeId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IssueType.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PriorityId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Priority.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.StageId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Stage.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd width="inherit" style="font-weight:bold">
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AuthorId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Author.DisplayName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LeaderId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Leader.DisplayName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Deadline)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Deadline)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MediaURL)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MediaURL)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-8">

            @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="TicketId" value="@Model.Id" />
                <input type="hidden" name="AuthorId" value="@Model.AuthorId" />

                <div class="form-horizontal">
                    <h4>New Comment</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        <div class="col-md-2">
                            Title
                        </div>
                        <div class="col-md-10">
                            @*@Html.Editor(@Model.Title, new { htmlAttributes = new { @class = "form-control" } })*@
                            <input type="text" name="Title"class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            Details
                        </div>
                        <div class="col-md-10">
                            <textarea style="max-width:90%; width:90%" name="Detail" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            Media URL
                        </div>
                        <div class="col-md-10">
                            @Html.Editor("MediaURL", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }


            <table class="table" style="table-layout:fixed">
                <tr width="100%">
                    <th style="width:15%">
                        Actions
                    </th>
                    <th style="width:10%">
                        Date
                    </th>
                    <th style="width:20%">
                        Title
                    </th>
                    <th style="width:40%">
                        Details
                    </th>
                    <th style="width:15%; max-width:15%">
                        Media URL
                    </th>

                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model.Comments.OrderByDescending(c => c.Date))
                    {
                        <tr style="width:inherit">
                            <td style="width:15%">
                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || ViewBag.UserId == item.AuthorId)
                                {

                                    @*<a data-id="@item.Id" data-toggle="modal tooltip" data-target="#editCommentModal" title="Edit" href="#"><span class="fa fa-pencil-square-o"></span></a>*@


                                    <a data-id="@item.Id" data-title="@item.Title" data-date="@item.Date"
                                       data-detail="@item.Detail" data-media="@item.MediaURL"
                                       data-authorid="@item.AuthorId" data-ticketid="@item.TicketId"
                                       class="btn btn-lg btn-skin xtra-btn del"
                                       data-toggle="modal" title="Edit" data-target="#editCommentModal">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </a>

                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <text>|</text>
                                    <button data-toggle="modal tooltip" title="Delete" data-id="@item" class="del fa fa-trash-o" data-target="#archiveModal"></button>
                                }
                            </td>

                            <td style="width:10%">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td style="width:20%">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td style="width:40%">
                                @Html.DisplayFor(modelItem => item.Detail)
                            </td>
                            <td style="width:15%; word-wrap:break-word; max-width:15%">
                                    @Html.DisplayFor(modelItem => item.MediaURL)
                            </td>

                        </tr>
                    }
                }

            </table>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { showArchived = false });
</p>

<!-- vvvvv Start of Modal vvvvv -->

<div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="align-content:center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" 
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="text-align:center; color:#ffd800"
                    id="myModalLabel">
                    Edit the Comment
                </h4>
            </div>
            @*<form id="editCommentForm" method="post" action="@Url.Action("Edit", "Comments")  >*@
            @using (Html.BeginForm("Edit", "Comments", FormMethod.Post, new { id = "editCommentForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">

                        <div class="form-group">
                            <div class="col-md-2">
                                Title
                            </div>
                            <div class="col-md-10">
                                <input id="modal-title" name="Title" value="change Me" />

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                Details
                            </div>
                            <div class="col-md-10">
                                <textarea id="modal-detail" name="Detail" rows="2"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                Media URL
                            </div>
                            <div class="col-md-10">
                                <input id="modal-media" name="MediaURL" value="change Me" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer" style="align-content:center">

                    <button type="button" data-dismiss="modal" class="btn btn-skin xtra-btn">Dismiss</button>

                    <input type="hidden" id="modal-id" name="Id" value="" />
                    <input type="hidden" id ="modal-authorId" name ="AuthorId" value="change Me" />
                    <input type="hidden" id="modal-ticketId" name="TicketId" value="change Me" />
                    <input type="hidden" id="modal-date" name="Date" value="change Me" />

                    <button type="submit" class="btn btn-skin xtra-btn">Submit</button>
                </div>
                
            }
        </div>
    </div>
</div>
<!-- ^^^^^ Modal end ^^^^^ -->


@section scripts{
    <script>
        var commentId = 0;
        $('#editCommentModal').on('shown.bs.modal', function (e) {
            var i = $(e.relatedTarget).data('id');
            var t = $(e.relatedTarget).data('title');
            var d = $(e.relatedTarget).data('detail');
            var da = $(e.relatedTarget).data('date');
            var m = $(e.relatedTarget).data('media');
            var au = $(e.relatedTarget).data('authorid');
            var tk = $(e.relatedTarget).data('ticketid');

            console.log(' comment Item.Id: ' + i);
            console.log(' comment Item.AuthorId: ' + au);
            console.log(' comment Item.Title: ' + t);
            console.log(' comment Item.Date: ' + da);
            console.log(' comment Item.Detail: ' + d);
            console.log(' comment Item.Media: ' + m);
            console.log(' comment Item.Title: ' + tk);
            $('#modal-id').val(i);
            $('#modal-title').val(t);
            $('#modal-detail').val(d);
            $('#modal-date').val(da);
            $('#modal-media').val(m);
            $('#modal-authorId').val(au);
            $('#modal-ticketId').val(tk);
        });

        //$('#deleteConfirmed').click(function (e) {

        //    $('#modal-id').val(commentId);
        //    var testId = $('#modal-id').val();
        //$('.del').click(function () {
        //    // $('#editCommentModal').click(function(){
        //    var dataId = val($(this).attr('data-id'));
        //    console.log('data-id: ' + dataId);
        //    $('#modal-id').val($(this).attr('data-id'));
        //});

        //var commentId = 0;
        //$('#editCommentModal').on('shown.bs.modal', function (e) {
        //    var j = $(e.relatedTarget).data('id');
        //    console.log(' commentId j: '+j);
        //    commentId = j;
        //});

        //$('#deleteConfirmed').click(function (e) {

        //    var urlString = '../../Posts/DeletePostComment/' + commentId;
        //    console.log('In $(#deleteConfirmed) urlString: ' + urlString);

        //    $('#modal-id').val(commentId);
        //    var testId = $('#modal-id').val();
        //    alert('testId: ' + testId);
        //});
    </script>
}
