@model IEnumerable<TgpBugTracker.Models.Ticket>

@{
    ViewBag.Title = "Ticket List";
}

<style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

/*#table-tickets {
width: 100% !Important;
}*/

</style>

<h2>@ViewBag.Title</h2>

<div row>
    <div class="col-md-2">
        <p>
            @Html.ActionLink("Create New Ticket", "Create")
        </p>
    </div>
    <div class="col-md-3">
        <p><i><b>Use boxes in table's footer to search &amp; sort </b></i> </p>
    </div>
    <div class="col-md-4">
        <p><b>Press <i class="fa fa-bars" style="color:blue"></i> in upper-left-hand corner to display Actions.</b> </p>
    </div>

</div>

<div id="container">
    <table class="table" id="table-tickets" cellspacing="0">
        <thead>
            <tr>
                <th>
                    <i><b>Actions</b></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectId)
                </th>
                @if (!ViewBag.SubmitterOnly)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.IssueTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriorityId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StageId)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                @if (!ViewBag.SubmitterOnly)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.LeaderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deadline)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.AuthorId)
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr width="inherit">
                <th>
                    <i><b>Actions</b></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectId)
                </th>
                @if (!ViewBag.SubmitterOnly)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.IssueTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriorityId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StageId)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>

                @if (!ViewBag.SubmitterOnly)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.LeaderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deadline)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.AuthorId)
                </th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr width="inherit">
                    <td>
                        <a data-toggle="tooltip" title="Comment" href="@Url.Action("Details", new { id = item.Id })"><span class="fa fa-comment-o"></span></a>
                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || ViewBag.UserId == item.AuthorId || ViewBag.UserId == item.LeaderId)
                        {
                            <text>|</text>
                            <a data-toggle="tooltip" title="Edit" href="@Url.Action("Edit",new { id = item.Id })"><span class="fa fa-pencil-square-o"></span></a>

                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <text>|</text>
                            <button data-toggle="tooltip modal" title="Delete" data-id="@item.Id" class="del fa fa-trash-o" data-target="#archiveModal"></button>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    @if (!ViewBag.SubmitterOnly)
                {
                        <td>
                            @Html.DisplayFor(modelItem => item.IssueType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stage.Name)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td id="Tkt-Title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>


                    @if (!ViewBag.SubmitterOnly)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Leader.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.LastName)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<!-- vvvvv Start of Modal vvvvv -->

<div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:800px;">
        <div class="modal-content" style="align-content:center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="text-align:center; color:#fff"
                    id="myModalLabel">
                    Confirm Archive
                </h4>
            </div>

            <div class="modal-body" style="text-align:center">
                <div class="row">
                    <h4>Are you sure you want to ARCHIVE this TICKET?</h4>
                    <p>All associated Comments, Logs and Notices will hidden.</p>
                </div>
            </div>
            <div class="modal-footer" style="align-items:center">
                <button type="button" data-dismiss="modal" class="btn btn-skin xtra-btn">Dismiss</button>

                <form id="archiveIdForm" action="@Url.Action("Archive", "Tickets") ">
                    @Html.AntiForgeryToken()
                    <input id="modal-id" type="hidden" name="id" value="" />
                    <button id="archiveConfirmed" value="true" form="archiveIdForm" type="submit"
                            class="btn btn-danger xtra-danger-btn" data-warning="modal">
                        Archive
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- ^^^^^ Modal end ^^^^^ -->


@section scripts{
    <script>

        var categoryId = 0;
        $('#archiveModal').on('shown.bs.modal', function (e) {
            var j = $(e.relatedTarget).data('id');
            console.log(' categoryId j: ' + j);
            categoryId = j;
            $('.modal-backdrop').removeClass('modal-backdrop');
            $('#modal-id').val(categoryId);
        });

        $(document).ready(function () {

            //$.each($('#Tkt-Title').not(':empty'), function (i, v) {
            //    var count = parseInt($(this).text().length);
            //    var maxChars = 30;
            //    if (count > maxChars) {
            //        var str = $(this).text();
            //        var trimmed = str.substr(0, maxChars);
            //        $(v).text(trimmed + '...');
            //    }

            //});

            var table = $('#table-tickets').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                authowidth:true,
                "columnDefs": [
             { "width": "10%", "targets": 0 },
             { "width": "10%", "targets": 0 },
             { "width": "10%", "targets": 0 },
             { "width": "10%", "targets": 0 },
             { "width": "10%", "targets": 0 },
             { "width": "10%", "targets": 0 },
             { "width": "10%", "targets": 0 },
             { "width": "10%", "targets": 0 },
             { "width": "10%", "targets": 0 },
             { "width": "10%", "targets": 0 }
                ]
            });
            //$('#container').css('display', 'block');
            //table.columns.adjust().draw();

            //});
            // var table = $('#table-tickets').DataTable();

            //$('#container').css('display', 'block');
            //table.columns.adjust().draw();

            //table({

            //    "columnDefs": [
            //          { "width": "10%", "targets": 0 },
            //          { "width": "10%", "targets": 0 },
            //          { "width": "10%", "targets": 0 },
            //          { "width": "10%", "targets": 0 },
            //          { "width": "10%", "targets": 0 },
            //          { "width": "10%", "targets": 0 },
            //          { "width": "10%", "targets": 0 },
            //          { "width": "10%", "targets": 0 },
            //          { "width": "10%", "targets": 0 },
            //          { "width": "10%", "targets": 0 }
            //    ]
            //});
        });

        $(":radio").click(function () {
            var SelectedValue = $(this).val();
            console.log('SelectedValue: ' + SelectedValue);
        });




    </script>
}

