@model TgpBugTracker.Models.DashboardVM

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<!-- Main content -->
<section class="content">

    <div class="row" style="margin-bottom:5px;">


        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-red"><i class="fa fa-inbox"></i></span>
                <div class="sm-st-info">
                    <span>
                        @if (@Model.Pjts != null)
                        { @Model.Pjts.Count();
                        }
                    </span>
                    No. Projects
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-violet"><i class="fa fa-ticket"></i></span>
                <div class="sm-st-info">
                    <span>
                        @if (@Model.Tkts != null)
                        { @Model.Tkts.Count();
                        }
                    </span>
                    No. Tickets
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-blue"><i class="fa fa-comment-o"></i></span>
                <div class="sm-st-info">
                    <span>
                        @if (@Model.Cmts != null)
                        { @Model.Cmts.Count();
                        }
                    </span>
                    No. Comments
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-green"><i class="fa fa-paperclip"></i></span>
                <div class="sm-st-info">
                    <span>@Model.AttachmentCount</span>
                    No. Attachments
                </div>
            </div>
        </div>
    </div>

    <!-- Main row -->
    <div class="row">
        <div class="col-md-8">
            <section class="panel">
                <header class="panel-heading">
                    Work Progress
                </header>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Version</th>
                                <th>Manager</th>
                                <th>Deadline</th>
                                <th>Phase</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var p in Model.Pjts)
                            {

                                <tr width="inherit">
                                    <td>
                                        @Html.DisplayFor(item => p.ProjectName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => p.Version)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => p.Manager)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => p.Deadline)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => p.Phase)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => p.ProgressPct)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div><!--end col-8 -->


        <div class="col-lg-4">

            <!--chat start-->
            <section class="panel">
                <header class="panel-heading">
                    Notifications
                </header>
                <div class="panel-body" id="noti-box">
                    <!-- danger, success,info,warning-->
                    @{
                        int i = 0; string displayClass = "";
                        foreach (var n in Model.Ntcs)
                        {
                            switch (i++ % 4)
                            {
                                case 0:
                                    displayClass = "alert alert-block alert-danger";
                                    break;
                                case 1:
                                    displayClass = "alert alert-success";
                                    break;
                                case 2:
                                    displayClass = "alert alert-info";
                                    break;
                                case 3:
                                    displayClass = "alert alert-warning";
                                    break;
                            }
                            <div class="@displayClass">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>
                                    @Html.DisplayFor(item => @n.Date): 
                                    @Html.DisplayFor(item => @n.ProjectName)
                                </strong>
                                @Html.Raw(@n.Title)
                            </div>
    
                        }
                    }
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="panel">
                <header class="panel-heading">
                    Teammates
                </header>
                <ul class="list-group teammates">
                    @{
                        string labelClass = ""; string role = "";
                        foreach (var t in Model.Team)
                        {
                            switch (t.RoleRank)
                            {
                                case 100:
                                    labelClass = "label-danger";
                                    role = "Admin";
                                    break;
                                case 80:
                                    labelClass = "label-info";
                                    role = "Pjt Manager";
                                    break;
                                case 40:
                                    labelClass = "label-success";
                                    role = "Developer";
                                    break;

                                case 20:
                                    labelClass = "label-primary";
                                    role = "Submitter";
                                    break;
                                default:
                                    labelClass = "label-default";
                                    role = "Unassigned";
                                    break;
                            }
                            <li class="list-group-item">
                                @*<a href=""><img src="img/26115.jpg" width="50" height="50"></a>*@
                                <span class="pull-right label @labelClass inline m-t-15">@role</span>
                                <a href="">@t.FullName</a>
                            </li>
                        }
                    }

                </ul>
                
            </div>
        </div>
        <div class="col-md-7">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                    To Do list
                </header>
                <div class="panel-body">

                    <div class="task-content">

                        <ul class="task-list">
                            <li>
                                <div class="task-checkbox">
                                    <!-- <input type="checkbox" class="list-child" value=""  /> -->
                                    <input type="checkbox" class="flat-grey list-child" />
                                    <!-- <input type="checkbox" class="square-grey"/> -->
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Director is Modern Dashboard</span>
                                    <span class="label label-success">2 Days</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <!-- <input type="checkbox" class="list-child" value=""  /> -->
                                    <input type="checkbox" class="flat-grey" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Fully Responsive & Bootstrap 3.0.2 Compatible</span>
                                    <span class="label label-danger">Done</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <!-- <input type="checkbox" class="list-child" value=""  /> -->
                                    <input type="checkbox" class="flat-grey" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Latest Design Concept</span>
                                    <span class="label label-warning">Company</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <!-- <input type="checkbox" class="list-child" value=""  /> -->
                                    <input type="checkbox" class="flat-grey" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Write well documentation for this theme</span>
                                    <span class="label label-primary">3 Days</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <!-- <input type="checkbox" class="list-child" value=""  /> -->
                                    <input type="checkbox" class="flat-grey" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Don't bother to download this Dashbord</span>
                                    <span class="label label-inverse">Now</span>
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <!-- <input type="checkbox" class="list-child" value=""  /> -->
                                    <input type="checkbox" class="flat-grey" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Give feedback for the template</span>
                                    <span class="label label-success">2 Days</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="task-checkbox">
                                    <!-- <input type="checkbox" class="list-child" value=""  /> -->
                                    <input type="checkbox" class="flat-grey" />
                                </div>
                                <div class="task-title">
                                    <span class="task-title-sp">Tell your friends about this admin template</span>
                                    <span class="label label-danger">Now</span>
                                    <div class="pull-right hidden-phone">
                                        <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="add-task-row">
                        <a class="btn btn-success btn-sm pull-left" href="#">Add New Tasks</a>
                        <a class="btn btn-default btn-sm pull-right" href="#">See All Tasks</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- row end -->
</section><!-- /.content -->