@model TgpBugTracker.Models.DashboardVM

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<!-- Main content -->
<section class="content">

    <div class="row" style="margin-bottom:5px;">


        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-red"><i class="fa fa-inbox"></i></span>
                <div class="sm-st-info">
                    <span>
                        @if (@Model.Pjts != null)
                        { @Model.Pjts.Count();
                        }
                    </span>
                    No. Projects
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-violet"><i class="fa fa-ticket"></i></span>
                <div class="sm-st-info">
                    <span>
                        @if (@Model.Tkts != null)
                        { @Model.Tkts.Count();
                        }
                    </span>
                    No. Tickets
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-blue"><i class="fa fa-comment-o"></i></span>
                <div class="sm-st-info">
                    <span>
                        @if (@Model.Cmts != null)
                        { @Model.Cmts.Count();
                        }
                    </span>
                    No. Comments
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sm-st clearfix">
                <span class="sm-st-icon st-green"><i class="fa fa-paperclip"></i></span>
                <div class="sm-st-info">
                    <span>@Model.AttachmentCount</span>
                    No. Attachments
                </div>
            </div>
        </div>
    </div>

    <!-- Main row -->
    <div class="row">
        <div class="col-md-7">
            <section class="panel">
                <header class="panel-heading">
                    Work Progress
                </header>
                <div class="panel-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Version</th>
                                <th>Manager</th>
                                <th>Deadline</th>
                                <th>Phase</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                string displayClass = ""; string badgeClass = "";
                                foreach (var p in Model.Pjts)
                                {
                                    switch ((int)Math.Round(6 * @p.ProgressPct))
                                    {
                                        case 1:
                                            displayClass = "label label-success";
                                            badgeClass = "badge badge-success";
                                            break;
                                        case 2:
                                            displayClass = "label label-warning";
                                            badgeClass = "badge badge-warning";
                                            break;
                                        case 3:
                                            displayClass = "label label-info";
                                            badgeClass = "badge badge-info";
                                            break;
                                        case 4:
                                            displayClass = "label label-default";
                                            badgeClass = "badge badge-important";
                                            break;
                                        case 5:
                                            displayClass = "label label-inverse";
                                            badgeClass = "badge badge-inverse";
                                            break;
                                        case 6:
                                            displayClass = "label label-danger";
                                            badgeClass = "badge badge-danger";
                                            break;
                                    }

                                    <tr width="inherit">
                                        <td>
                                            @Html.DisplayFor(item => p.ProjectName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(item => p.Version)
                                        </td>
                                        <td>
                                            <span>
                                                @Html.DisplayFor(item => p.Manager)
                                            </span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(item => p.Deadline)
                                        </td>

                                        <td> <span class="@displayClass">
                                            @Html.DisplayFor(item => p.Phase)
                                            </span>
                                        </td>
                                        <td> <span class="@badgeClass">
                                            @Html.DisplayFor(item => p.ProgressPct)
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div><!--end col-7 -->

        <div class="col-lg-5">
            <!--chat start-->
            <section class="panel">
                <header class="panel-heading">
                    Notifications
                </header>
                <div class="panel-body" id="noti-box">
                    <!-- danger, success,info,warning-->
                    @{
                        int ii = 0; string displayClass2 = "";
                        foreach (var n in Model.Ntcs)
                        {
                            switch (ii++ % 4)
                            {
                                case 0:
                                    displayClass2 = "alert alert-block alert-danger";
                                    break;
                                case 1:
                                    displayClass2 = "alert alert-success";
                                    break;
                                case 2:
                                    displayClass2 = "alert alert-info";
                                    break;
                                case 3:
                                    displayClass2 = "alert alert-warning";
                                    break;
                            }
                            <div class="@displayClass2">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>
                                    @Html.DisplayFor(item => @n.Date):
                                    @Html.DisplayFor(item => @n.ProjectName)
                                </strong>
                                @Html.Raw(@n.Title)
                            </div>

                        }
                    }
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="panel">
                <header class="panel-heading">
                    Teammates
                </header>
                <ul class="list-group teammates">
                    @{
                        string labelClass = ""; string role = "";
                        foreach (var t in Model.Team)
                        {
                            switch (t.RoleRank)
                            {
                                case 100:
                                    labelClass = "label-danger";
                                    role = "Admin";
                                    break;
                                case 80:
                                    labelClass = "label-info";
                                    role = "Pjt Manager";
                                    break;
                                case 40:
                                    labelClass = "label-success";
                                    role = "Developer";
                                    break;

                                case 20:
                                    labelClass = "label-primary";
                                    role = "Submitter";
                                    break;
                                default:
                                    labelClass = "label-default";
                                    role = "Unassigned";
                                    break;
                            }
                            <li class="list-group-item">
                                @*<a href=""><img src="img/26115.jpg" width="50" height="50"></a>*@
                                <span class="pull-right label @labelClass inline m-t-15">@role</span>
                                <a href="">@t.FullName</a>
                            </li>
                        }
                    }

                </ul>

            </div>
        </div>
        <div class="col-md-7">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                    Most Recent Tickets & Comments
                </header>
                <div class="panel-body">

                    <div class="task-content">

                        <ul class="task-list">
                            @{
                                int iii = 0;
                                foreach (var tk in Model.Tkts)
                                {
                                    <li>
                                        <div class="task-checkbox">
                                            <!-- <input type="checkbox" class="list-child" value=""  /> -->
                                            <input type="checkbox" class="flat-grey list-child" />
                                            <!-- <input type="checkbox" class="square-grey"/> -->
                                        </div>
                                        <div class="task-title">
                                            <span class="label label-success">@tk.Date.ToString("MM/dd")</span>
                                            <span class="task-title-sp"><b>@Html.DisplayFor(item => @tk.Project.Name)</b>: </span>
                                            @Html.DisplayFor(item => @tk.Title)
                                            @if (@tk.Project.Deadline != null)
                                            {
                                            <span class="label label-warning">@tk.Project.Deadline.ToString("MM/dd")</span>
                                            }
                                            <div class="pull-right hidden-phone">
                                                <a data-toggle="tooltip" title="Comment/Edit" href="@Url.Action("Details",
                                                    "Tickets", new { id = tk.Id })"><span class="fa fa-comment-o"></span></a>
                                                @*<button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                                <button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
                                                <button class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>*@
                                            </div>
                                        </div>
                                    </li>
                                    if (tk.Comments != null)
                                    {
                                        foreach (var c in tk.Comments)
                                        {
                                            <li>
                                                <div class="task-checkbox">
                                                    <input type="checkbox" class="flat-grey list-child" />
                                                </div>
                                                <div class="task-title">
                                                    <span class="label label-primary">@Html.DisplayFor(item => @c.Date)</span>
                                                    <span class="task-title-sp"><b>Comment</b>: </span>
                                                    @Html.DisplayFor(item => @c.Title)

                                                </div>
                                            </li>
                                            break;
                                        }
                                    }
                                    if (++iii > 5)
                                    {
                                        break;
                                    }
                                }
                            }
                        </ul>

                        <div class="add-task-row">
                            <div class="btn btn-info btn-sm pull-left">
                                @Html.ActionLink("Create New Ticket", "Create", "Tickets")
                            </div>
                            <div class="btn btn-default btn-sm pull-right">
                                @Html.ActionLink("See All Tickets", "Index", "Tickets")
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
    <!-- row end -->
</section><!-- /.content -->