@model TgpBugTracker.Models.Notice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
