@model TgpBugTracker.Models.Project

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AuthorId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row" style="padding:0px 5px;">
            <div style="display:inline">
                <label for="date-picker-1" class="control-label col-md-2" style="display:inline; padding-top:10px">
                    Deadline
                </label>
                <div class="controls col-md-10" style="padding:0px 15px">
                    <input class="datepicker" data-date-format="mm/dd/yyyy" name="Deadline" style="padding:8px 12px; border:1px"
                           value="@Model.Deadline.ToString("MM/dd/yyyy")">
                    @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="padding:0px 5px;">
            <div style="display:inline">
                <label for="date-picker-2" class="control-label col-md-2" style="display:inline; padding-top:10px">
                    Deadline
                </label>
                <div class="controls col-md-10" style="padding:0px 15px">
                    <input class="datepicker" data-date-format="mm/dd/yyyy" name="Started" style="padding:8px 12px; border:1px"
                           value="@Model.Started.ToString("MM/dd/yyyy")">
                    @Html.ValidationMessageFor(model => model.Started, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  

    <script type="text/javascript">

        $(document).ready(function () {

            $('.datepicker').datepicker({
                format: 'dd MMM yyyy'
            });

            $(".date-picker").on("change", function () {
                var id = $(this).attr("id");
                var val = $("label[for='" + id + "']").text();
                $("#msg").text(val + " changed");
            });
        });
    </script>
}

