@model IEnumerable<TgpBugTracker.Models.ProjectUsersVM>

@{
    ViewBag.Title = "Projects & Staffing";
}
<aside class="">

    <h2>@ViewBag.Title</h2>
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    @{
        int j = 0;
        foreach (var item in Model)
        {
            string collapseNumber = "collapse" + j.ToString();
            string collapseId = "#" + collapseNumber;
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span style="text-align:left; font-weight:bold" width="30%">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="@collapseId">@Html.DisplayFor(modelItem => item.ProjectName)</a>
                            </span>
                            <span style="text-align:right" width="40%">
                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                {
                                    @Html.ActionLink("Assign", "AssignUsersToProject", new { ProjectId = item.ProjectId })
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    @:|
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId })
                                    @*@:|
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })*@
                                }
                            </span>
                        </div>
                    </div>
                    <div id="@collapseNumber" class="panel-collapse collapse">
                        <table>
                            <thead>
                                <tr style="text-decoration-line:underline; font-weight:bold">
                                    <td width="10%"></td>
                                    <td width="20%">
                                        Administrator
                                    </td>
                                    <td width="20%">
                                        Project Manager
                                    </td>
                                    <td width="20%">
                                        Developer
                                    </td>
                                    <td width="20%">
                                        Submitter
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < item.TeamCount; i++)
                                {
                                    <tr class="list-group" width="inherit">

                                        <td></td>
                                        <td>
                                            @if (item.Admins[i] != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.Admins[i])
                                            }
                                            else
                                            {
                                                <text>......</text>
                                            }
                                        </td>
                                        
                                        <td>
                                            @if (item.PjtMgrs[i] != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.PjtMgrs[i])
                                            }
                                            else
                                            {
                                                <text>......</text>
                                            }
                                        </td>
                                        <td>
                                            @if (item.Developers[i] != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.Developers[i])
                                            }
                                            else
                                            {
                                                <text>......</text>
                                            }
                                        </td>
                                        <td>
                                            @if (item.Submitters[i] != null)
                                            {
                                                @Html.DisplayFor(modelItem => item.Submitters[i])
                                            }
                                            else
                                            {
                                                <text>......</text>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            j++;
        }
    }

    <div>
        @Html.ActionLink("Return Home", "Index", "Home")
    </div>

</aside>