@model IEnumerable<TgpBugTracker.Models.ProjectUsersVM>

@{
    ViewBag.Title = "Index";
}
<aside class="">
    <h2>Projects Index Page</h2>
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <td width="15%" style="text-align:left">
                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                    {
                        @:Assign

                    }
                    @if (User.IsInRole("Admin"))
                    {
                        @:|Edit|Delete
                    }
                </td>
                <th width="3%">
                    Id#
                </th>
                <th width="20%">
                    Project Name
                </th>
                <th width="20%">
                    Project Manager
                </th>
                <th width="20%">
                    Developer
                </th>
                <th width="20%">
                    Submitter
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                for (int i = 0; i < ViewBag.TeamCount; i++)
                {
                    <tr width="inherit">
                        @if (i == 0)
                        {
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                {
                                    @Html.ActionLink("Assign", "AssignUsersToProject", new { ProjectId = item.ProjectId })

                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    @:|
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId })
                                    @:|
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectName)
                            </td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        <td>
                            @if (item.PjtMgrs[i] != null)
                            {
                                @Html.DisplayFor(modelItem => item.PjtMgrs[i])
                            }
                            else
                            {
                                <text>......</text>
                            }
                        </td>
                        <td>
                            @if (item.Developers[i] != null)
                            {
                                @Html.DisplayFor(modelItem => item.Developers[i])
                            }
                            else
                            {
                                <text>......</text>
                            }
                        </td>
                        <td>
                            @if (item.Submitters[i] != null)
                            {
                                @Html.DisplayFor(modelItem => item.Submitters[i])
                            }
                            else
                            {
                                <text>......</text>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Return Home", "Index", "Home")
    </div>

</aside>